@charset "utf-8";
/* CSS Document */
.header{
	color:#EFBC24;
	display: flex;
	justify-content: center;
	text-align:center;
}

.header,.text_image{
	color:#EFBC24;
	display: flex;
	justify-content: center;
	text-align:center;
}
